@import "variables";
.projects-section{
  margin-bottom: 200px;
}
.projekty-img{
  height: 50px;
}
.logo-dDDesign{
  width: 300px;
}
.text-justify{
  text-align: justify;
}
.main-dd{
  width: 75%;
}
.text-dd-2{
  width: 300px;
  text-align: justify;
}
.card-image-devoty {
  width: 360px;
  height: 480px;
  background-size: cover;
  background-image: url("../assets/Podklady DD Design/images/dominika.png");
}
.img-dd-project{
  width: 22vw;
  height: 400px;
}
.arrow-icon-dd{
  //bg-dark rounded-circle opacity-100
  background-color: $nav-color;
  opacity: unset;
  width: 25px;
  height: 25px;
}
@media(max-width: 992px) {
  .main-dd{
    width: 100%;
  }
  .text-dd{
    font-size: 10px;
  }
  .text-dd-2{
    width: 270px;
    text-align: center;
  }
  .t{
    text-align: justify;
  }
  .projekty-img{
    height: 3vh;
  }
  .logo-dDDesign{
    width: 48vw;
  }
   .card-image-devoty {
    width: 90vw;
    height: 120vw;
    background-size: cover;
    background-image: url("../assets/Podklady DD Design/images/dominika.png");
  }
}
@media (max-width: 576px){
   .card-image-devoty {
    width: 90vw;
    height: 120vw;
    background-size: cover;
    background-image: url("../assets/Podklady DD Design/images/dominika.png");
  }
}
