@import "variables";
// portfolio
.port-main-section {
  margin: 3rem 3rem 600px 3rem;

  a {
    text-decoration: none;
    color: $secondary-color;
  }

  .port-container {

    .port-card-image {
      width: 490px;
      height: 320px;
    }
  }
}
.dum-p{
  margin-top: 0;
  margin-bottom: 0;
}
.dum-p-1{
  margin-top: 10px;
  margin-bottom: 0;
}
@media(max-width: 992px) {
  .port-main-section {
    .port-container {
      .port-card-image {
       height: 20vh;
        width: 80vw;
      }
    }
  }
}